In [1]:
import pandas as pd
import requests

In [11]:
# Download data
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
r = requests.get(url)
with open("./adult_data.csv", "wb") as f:
    f.write(r.content)

In [12]:
# Store data to csv
col_names = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status",
         "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", 
         "hours-per-week", "native-country", "Above/Below 50K"]
pd_df = pd.read_csv("./adult_data.csv", index_col=False, names=col_names)
pd_df.to_csv("./adult_data.csv")

### Load data from csv

In [15]:
import pandas as pd
pd_df = pd.read_csv("adult_data.csv", index_col=0)

In [36]:
import pyspark
ps_df = spark.read.options(header=True, inferSchema=True).csv("adult_data.csv")

# Understand dataframe

### row samples

In [22]:
pd_df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Above/Below 50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [23]:
ps_df.show(2)

+---+---+-----------------+------+----------+-------------+-------------------+----------------+--------------+------+-----+------------+------------+--------------+--------------+---------------+
|_c0|age|        workclass|fnlwgt| education|education-num|     marital-status|      occupation|  relationship|  race|  sex|capital-gain|capital-loss|hours-per-week|native-country|Above/Below 50K|
+---+---+-----------------+------+----------+-------------+-------------------+----------------+--------------+------+-----+------------+------------+--------------+--------------+---------------+
|  0| 39|        State-gov| 77516| Bachelors|           13|      Never-married|    Adm-clerical| Not-in-family| White| Male|        2174|           0|            40| United-States|          <=50K|
|  1| 50| Self-emp-not-inc| 83311| Bachelors|           13| Married-civ-spouse| Exec-managerial|       Husband| White| Male|           0|           0|            13| United-States|          <=50K|
+---+---+-----------------+------+----------+-------------+-------------------+----------------+--------------+------+-----+------------+------------+--------------+--------------+---------------+
only showing top 2 rows

### columns

In [24]:
pd_df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Above/Below 50K'],
      dtype='object')

In [25]:
pd_df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'Above/Below 50K'],
      dtype='object')

### dtpes

In [26]:
pd_df.dtypes

age                 int64
workclass          object
fnlwgt              int64
education          object
education-num       int64
marital-status     object
occupation         object
relationship       object
race               object
sex                object
capital-gain        int64
capital-loss        int64
hours-per-week      int64
native-country     object
Above/Below 50K    object
dtype: object

In [27]:
ps_df.dtypes

[('_c0', 'int'),
 ('age', 'int'),
 ('workclass', 'string'),
 ('fnlwgt', 'int'),
 ('education', 'string'),
 ('education-num', 'int'),
 ('marital-status', 'string'),
 ('occupation', 'string'),
 ('relationship', 'string'),
 ('race', 'string'),
 ('sex', 'string'),
 ('capital-gain', 'int'),
 ('capital-loss', 'int'),
 ('hours-per-week', 'int'),
 ('native-country', 'string'),
 ('Above/Below 50K', 'string')]

# Basic transformation

### Add column

In [43]:
pd_df['new_col'] = pd_df['age'] + 1

In [44]:
ps_df = ps_df.withColumn('new_col', ps_df['age'] + 1, )

### Rename column

In [45]:
pd_df.rename(columns={'new_col': 'renamed_col'}, inplace=True)

In [46]:
ps_df = ps_df.withColumnRenamed('new_col', 'renamed_col')

### Drop column

# Advanced transformation

### Filtering

### Transformation with customized conditions

### Transformation with customized function

### Aggregation with built-in functions

### Aggregation with customized functions